body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f5f5f5;
}

header {
  background: linear-gradient(90deg, #00c6ff, #0072ff);
  color: white;
  padding: 15px;
  text-align: center;
}

nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
  font-weight: bold;
}

.banner {
  background: #ddd;
  margin: 20px;
  padding: 40px;
  text-align: center;
  border-radius: 8px;
}

.categorias {
  padding: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

.card {
  background: #bbb;
  padding: 30px;
  text-align: center;
  border-radius: 8px;
  font-weight: bold;
}

footer {
  text-align: center;
  padding: 15px;
  background: #222;
  color: white;
}
